.side
  .side__header
    .side__header--box
      .side__header--text
        田中
      .side__header__icon
        =link_to "#" do
          = icon('fa', 'edit') 
        =link_to "#" do
          = icon('fa', 'cog') 
  .side__contents
    .side__contents--box
      .side__contents--one
        名前
      .side__contents--twe
        投稿はありません
    .side__contents--box
      .side__contents--one
        名前
      .side__contents--twe
        投稿はありません
        