* {
  box-sizing: border-box;
}
.side{
  width: 300px;
  height: 100vh;
  float: left;
  &__header{
    width: $width;
    height: 100px;
    background-color: blue;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &--box{
      width: $width;
      height: 20px;
      display: flex;
      justify-content: space-between;
      }
      &--text{
        text-align: center;
        line-height: 20px;
        color: white;
        font-weight: 800;
        font-style: initial;
      }
      &--icon{
        width: 60px;
        text-align: center;
        line-height: 20px;
      }
      a{
        text-decoration: none;
        color: white;
      }
    
  }
  &__contents{
    width: $width;
    height: calc(100vh - 100px);
    background-color: lightblue;
    padding: 0 20px;
    color: white;
    font-weight: 400;
    &--box{
      padding: 20px 0 40px 0;
      }
      &--one{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &--twe{
        font-size: 11px;
    }
  }
}


.main{
  width:calc(100% - 300px);
  height: 100vh;
  float: left;
  &__header{
    width: $width;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    &--one{
      padding-top: 35px;
    }
      &--name{
        font-size: 18px;
        font-weight: 700;
        font-style: inherit;
        margin-bottom: 15px;
      }
      &--text{
        font-size: 10px;
        color: lime;
      }
    &--two{
      width: 80px;
      text-align: end;
      padding: 50px 0 0 0;
    }
  }
  &__contents{
    width: $width;
    height: calc(100vh - 190px);
    background-color: yellow;
    &--top{
      padding: 35px 0 0 20px;
        }
      &--box{
        display:flex;
        margin-bottom: 12px;
        height: 35px;
        }
        &--name{
          font-size: 18px;
          font-weight: 600;
        }
        &--time{
          font-size: 10px;
          margin-left: 15px;
          text-align: center;
          line-height: 35px;
        }
      &--come{
        font-size: 20px;
        font-weight: 800;
        font-style: oblique;
        }
  }

  .btn{
    text-decoration: none;
    border: solid 2px red;
    font-size: 20px;
    color: blue;
  }
  

  &__footer{
    width: $width;
    height: 90px;
    background-color: wheat;
    padding: 10px 40px;
    &--box{
      width: $width;
      height: 70px;
      background-color: white;
      display: flex;
      position: relative;
    }
      &--come{
        width: $width;
        padding: 10px 0;
        display: flex;
        text-align: center;
        line-height: 50px;
        
          &--text{
            width: 80%;
            position: relative;
          }
          &--icon{
            position: absolute;
            display: flex;
            
          }
    }
      &--sousin{
        width: 20%;
        text-align: center;
        line-height: 70px;
    }
  }
}


